$img: '../img/';

/* global susy settings */
$gutters: 18/218;
$susy: (
  columns: 5,
  column-width: 218px,
  gutters: $gutters,
  gutter-position: inside-static,
  container: 1086px,
  global-box-sizing: border-box,
  output: float
);


