/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$basket-name: 'basket';
$basket-x: 40px;
$basket-y: 152px;
$basket-offset-x: -40px;
$basket-offset-y: -152px;
$basket-width: 23px;
$basket-height: 20px;
$basket-total-width: 256px;
$basket-total-height: 244px;
$basket-image: '../img/sprite.png';
$basket: (40px, 152px, -40px, -152px, 23px, 20px, 256px, 244px, '../img/sprite.png', 'basket', );
$category-accessories-name: 'category-accessories';
$category-accessories-x: 204px;
$category-accessories-y: 0px;
$category-accessories-offset-x: -204px;
$category-accessories-offset-y: 0px;
$category-accessories-width: 52px;
$category-accessories-height: 87px;
$category-accessories-total-width: 256px;
$category-accessories-total-height: 244px;
$category-accessories-image: '../img/sprite.png';
$category-accessories: (204px, 0px, -204px, 0px, 52px, 87px, 256px, 244px, '../img/sprite.png', 'category-accessories', );
$category-charcoal-name: 'category-charcoal';
$category-charcoal-x: 0px;
$category-charcoal-y: 60px;
$category-charcoal-offset-x: 0px;
$category-charcoal-offset-y: -60px;
$category-charcoal-width: 72px;
$category-charcoal-height: 87px;
$category-charcoal-total-width: 256px;
$category-charcoal-total-height: 244px;
$category-charcoal-image: '../img/sprite.png';
$category-charcoal: (0px, 60px, 0px, -60px, 72px, 87px, 256px, 244px, '../img/sprite.png', 'category-charcoal', );
$category-hookah-name: 'category-hookah';
$category-hookah-x: 0px;
$category-hookah-y: 152px;
$category-hookah-offset-x: 0px;
$category-hookah-offset-y: -152px;
$category-hookah-width: 35px;
$category-hookah-height: 92px;
$category-hookah-total-width: 256px;
$category-hookah-total-height: 244px;
$category-hookah-image: '../img/sprite.png';
$category-hookah: (0px, 152px, 0px, -152px, 35px, 92px, 256px, 244px, '../img/sprite.png', 'category-hookah', );
$category-nonicotine-name: 'category-nonicotine';
$category-nonicotine-x: 129px;
$category-nonicotine-y: 74px;
$category-nonicotine-offset-x: -129px;
$category-nonicotine-offset-y: -74px;
$category-nonicotine-width: 58px;
$category-nonicotine-height: 58px;
$category-nonicotine-total-width: 256px;
$category-nonicotine-total-height: 244px;
$category-nonicotine-image: '../img/sprite.png';
$category-nonicotine: (129px, 74px, -129px, -74px, 58px, 58px, 256px, 244px, '../img/sprite.png', 'category-nonicotine', );
$category-otivana-name: 'category-otivana';
$category-otivana-x: 0px;
$category-otivana-y: 0px;
$category-otivana-offset-x: 0px;
$category-otivana-offset-y: 0px;
$category-otivana-width: 124px;
$category-otivana-height: 55px;
$category-otivana-total-width: 256px;
$category-otivana-total-height: 244px;
$category-otivana-image: '../img/sprite.png';
$category-otivana: (0px, 0px, 0px, 0px, 124px, 55px, 256px, 244px, '../img/sprite.png', 'category-otivana', );
$category-tobacco-name: 'category-tobacco';
$category-tobacco-x: 129px;
$category-tobacco-y: 0px;
$category-tobacco-offset-x: -129px;
$category-tobacco-offset-y: 0px;
$category-tobacco-width: 70px;
$category-tobacco-height: 69px;
$category-tobacco-total-width: 256px;
$category-tobacco-total-height: 244px;
$category-tobacco-image: '../img/sprite.png';
$category-tobacco: (129px, 0px, -129px, 0px, 70px, 69px, 256px, 244px, '../img/sprite.png', 'category-tobacco', );
$fast-heart-name: 'fast-heart';
$fast-heart-x: 104px;
$fast-heart-y: 118px;
$fast-heart-offset-x: -104px;
$fast-heart-offset-y: -118px;
$fast-heart-width: 16px;
$fast-heart-height: 14px;
$fast-heart-total-width: 256px;
$fast-heart-total-height: 244px;
$fast-heart-image: '../img/sprite.png';
$fast-heart: (104px, 118px, -104px, -118px, 16px, 14px, 256px, 244px, '../img/sprite.png', 'fast-heart', );
$fast-view-name: 'fast-view';
$fast-view-x: 236px;
$fast-view-y: 119px;
$fast-view-offset-x: -236px;
$fast-view-offset-y: -119px;
$fast-view-width: 19px;
$fast-view-height: 19px;
$fast-view-total-width: 256px;
$fast-view-total-height: 244px;
$fast-view-image: '../img/sprite.png';
$fast-view: (236px, 119px, -236px, -119px, 19px, 19px, 256px, 244px, '../img/sprite.png', 'fast-view', );
$slider-review-left-name: 'slider-review-left';
$slider-review-left-x: 77px;
$slider-review-left-y: 60px;
$slider-review-left-offset-x: -77px;
$slider-review-left-offset-y: -60px;
$slider-review-left-width: 27px;
$slider-review-left-height: 53px;
$slider-review-left-total-width: 256px;
$slider-review-left-total-height: 244px;
$slider-review-left-image: '../img/sprite.png';
$slider-review-left: (77px, 60px, -77px, -60px, 27px, 53px, 256px, 244px, '../img/sprite.png', 'slider-review-left', );
$slider-review-right-name: 'slider-review-right';
$slider-review-right-x: 204px;
$slider-review-right-y: 92px;
$slider-review-right-offset-x: -204px;
$slider-review-right-offset-y: -92px;
$slider-review-right-width: 27px;
$slider-review-right-height: 53px;
$slider-review-right-total-width: 256px;
$slider-review-right-total-height: 244px;
$slider-review-right-image: '../img/sprite.png';
$slider-review-right: (204px, 92px, -204px, -92px, 27px, 53px, 256px, 244px, '../img/sprite.png', 'slider-review-right', );
$social-fb-name: 'social-fb';
$social-fb-x: 109px;
$social-fb-y: 60px;
$social-fb-offset-x: -109px;
$social-fb-offset-y: -60px;
$social-fb-width: 12px;
$social-fb-height: 26px;
$social-fb-total-width: 256px;
$social-fb-total-height: 244px;
$social-fb-image: '../img/sprite.png';
$social-fb: (109px, 60px, -109px, -60px, 12px, 26px, 256px, 244px, '../img/sprite.png', 'social-fb', );
$social-ig-name: 'social-ig';
$social-ig-x: 77px;
$social-ig-y: 118px;
$social-ig-offset-x: -77px;
$social-ig-offset-y: -118px;
$social-ig-width: 22px;
$social-ig-height: 22px;
$social-ig-total-width: 256px;
$social-ig-total-height: 244px;
$social-ig-image: '../img/sprite.png';
$social-ig: (77px, 118px, -77px, -118px, 22px, 22px, 256px, 244px, '../img/sprite.png', 'social-ig', );
$social-vk-name: 'social-vk';
$social-vk-x: 236px;
$social-vk-y: 92px;
$social-vk-offset-x: -236px;
$social-vk-offset-y: -92px;
$social-vk-width: 17px;
$social-vk-height: 22px;
$social-vk-total-width: 256px;
$social-vk-total-height: 244px;
$social-vk-image: '../img/sprite.png';
$social-vk: (236px, 92px, -236px, -92px, 17px, 22px, 256px, 244px, '../img/sprite.png', 'social-vk', );
$star-active-name: 'star-active';
$star-active-x: 109px;
$star-active-y: 91px;
$star-active-offset-x: -109px;
$star-active-offset-y: -91px;
$star-active-width: 12px;
$star-active-height: 12px;
$star-active-total-width: 256px;
$star-active-total-height: 244px;
$star-active-image: '../img/sprite.png';
$star-active: (109px, 91px, -109px, -91px, 12px, 12px, 256px, 244px, '../img/sprite.png', 'star-active', );
$star-inactive-name: 'star-inactive';
$star-inactive-x: 68px;
$star-inactive-y: 152px;
$star-inactive-offset-x: -68px;
$star-inactive-offset-y: -152px;
$star-inactive-width: 12px;
$star-inactive-height: 12px;
$star-inactive-total-width: 256px;
$star-inactive-total-height: 244px;
$star-inactive-image: '../img/sprite.png';
$star-inactive: (68px, 152px, -68px, -152px, 12px, 12px, 256px, 244px, '../img/sprite.png', 'star-inactive', );
$spritesheet-width: 256px;
$spritesheet-height: 244px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($basket, $category-accessories, $category-charcoal, $category-hookah, $category-nonicotine, $category-otivana, $category-tobacco, $fast-heart, $fast-view, $slider-review-left, $slider-review-right, $social-fb, $social-ig, $social-vk, $star-active, $star-inactive, );
$spritesheet: (256px, 244px, '../img/sprite.png', $spritesheet-sprites, );


@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    &.icon-#{$sprite-name} {
      width: nth($sprite, 5);
      height: nth($sprite, 6);
      $sprite-offset-x: nth($sprite, 3);
      $sprite-offset-y: nth($sprite, 4);
      background-position: $sprite-offset-x  $sprite-offset-y;
    }
  }
}
