/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$basket-name: 'basket';
$basket-x: 261px;
$basket-y: 195px;
$basket-offset-x: -261px;
$basket-offset-y: -195px;
$basket-width: 23px;
$basket-height: 20px;
$basket-total-width: 305px;
$basket-total-height: 285px;
$basket-image: '../img/sprite.png';
$basket: (261px, 195px, -261px, -195px, 23px, 20px, 305px, 285px, '../img/sprite.png', 'basket', );
$cart-car-active-name: 'cart-car-active';
$cart-car-active-x: 204px;
$cart-car-active-y: 92px;
$cart-car-active-offset-x: -204px;
$cart-car-active-offset-y: -92px;
$cart-car-active-width: 46px;
$cart-car-active-height: 38px;
$cart-car-active-total-width: 305px;
$cart-car-active-total-height: 285px;
$cart-car-active-image: '../img/sprite.png';
$cart-car-active: (204px, 92px, -204px, -92px, 46px, 38px, 305px, 285px, '../img/sprite.png', 'cart-car-active', );
$cart-car-name: 'cart-car';
$cart-car-x: 77px;
$cart-car-y: 60px;
$cart-car-offset-x: -77px;
$cart-car-offset-y: -60px;
$cart-car-width: 46px;
$cart-car-height: 38px;
$cart-car-total-width: 305px;
$cart-car-total-height: 285px;
$cart-car-image: '../img/sprite.png';
$cart-car: (77px, 60px, -77px, -60px, 46px, 38px, 305px, 285px, '../img/sprite.png', 'cart-car', );
$cart-gift-active-name: 'cart-gift-active';
$cart-gift-active-x: 40px;
$cart-gift-active-y: 152px;
$cart-gift-active-offset-x: -40px;
$cart-gift-active-offset-y: -152px;
$cart-gift-active-width: 46px;
$cart-gift-active-height: 33px;
$cart-gift-active-total-width: 305px;
$cart-gift-active-total-height: 285px;
$cart-gift-active-image: '../img/sprite.png';
$cart-gift-active: (40px, 152px, -40px, -152px, 46px, 33px, 305px, 285px, '../img/sprite.png', 'cart-gift-active', );
$cart-gift-name: 'cart-gift';
$cart-gift-x: 77px;
$cart-gift-y: 103px;
$cart-gift-offset-x: -77px;
$cart-gift-offset-y: -103px;
$cart-gift-width: 46px;
$cart-gift-height: 33px;
$cart-gift-total-width: 305px;
$cart-gift-total-height: 285px;
$cart-gift-image: '../img/sprite.png';
$cart-gift: (77px, 103px, -77px, -103px, 46px, 33px, 305px, 285px, '../img/sprite.png', 'cart-gift', );
$cart-item-close-name: 'cart-item-close';
$cart-item-close-x: 125px;
$cart-item-close-y: 152px;
$cart-item-close-offset-x: -125px;
$cart-item-close-offset-y: -152px;
$cart-item-close-width: 29px;
$cart-item-close-height: 29px;
$cart-item-close-total-width: 305px;
$cart-item-close-total-height: 285px;
$cart-item-close-image: '../img/sprite.png';
$cart-item-close: (125px, 152px, -125px, -152px, 29px, 29px, 305px, 285px, '../img/sprite.png', 'cart-item-close', );
$catalog-cards-active-name: 'catalog-cards-active';
$catalog-cards-active-x: 293px;
$catalog-cards-active-y: 166px;
$catalog-cards-active-offset-x: -293px;
$catalog-cards-active-offset-y: -166px;
$catalog-cards-active-width: 11px;
$catalog-cards-active-height: 11px;
$catalog-cards-active-total-width: 305px;
$catalog-cards-active-total-height: 285px;
$catalog-cards-active-image: '../img/sprite.png';
$catalog-cards-active: (293px, 166px, -293px, -166px, 11px, 11px, 305px, 285px, '../img/sprite.png', 'catalog-cards-active', );
$catalog-cards-name: 'catalog-cards';
$catalog-cards-x: 293px;
$catalog-cards-y: 150px;
$catalog-cards-offset-x: -293px;
$catalog-cards-offset-y: -150px;
$catalog-cards-width: 11px;
$catalog-cards-height: 11px;
$catalog-cards-total-width: 305px;
$catalog-cards-total-height: 285px;
$catalog-cards-image: '../img/sprite.png';
$catalog-cards: (293px, 150px, -293px, -150px, 11px, 11px, 305px, 285px, '../img/sprite.png', 'catalog-cards', );
$catalog-list-active-name: 'catalog-list-active';
$catalog-list-active-x: 293px;
$catalog-list-active-y: 134px;
$catalog-list-active-offset-x: -293px;
$catalog-list-active-offset-y: -134px;
$catalog-list-active-width: 11px;
$catalog-list-active-height: 11px;
$catalog-list-active-total-width: 305px;
$catalog-list-active-total-height: 285px;
$catalog-list-active-image: '../img/sprite.png';
$catalog-list-active: (293px, 134px, -293px, -134px, 11px, 11px, 305px, 285px, '../img/sprite.png', 'catalog-list-active', );
$catalog-list-name: 'catalog-list';
$catalog-list-x: 293px;
$catalog-list-y: 118px;
$catalog-list-offset-x: -293px;
$catalog-list-offset-y: -118px;
$catalog-list-width: 11px;
$catalog-list-height: 11px;
$catalog-list-total-width: 305px;
$catalog-list-total-height: 285px;
$catalog-list-image: '../img/sprite.png';
$catalog-list: (293px, 118px, -293px, -118px, 11px, 11px, 305px, 285px, '../img/sprite.png', 'catalog-list', );
$category-accessories-name: 'category-accessories';
$category-accessories-x: 204px;
$category-accessories-y: 0px;
$category-accessories-offset-x: -204px;
$category-accessories-offset-y: 0px;
$category-accessories-width: 52px;
$category-accessories-height: 87px;
$category-accessories-total-width: 305px;
$category-accessories-total-height: 285px;
$category-accessories-image: '../img/sprite.png';
$category-accessories: (204px, 0px, -204px, 0px, 52px, 87px, 305px, 285px, '../img/sprite.png', 'category-accessories', );
$category-charcoal-name: 'category-charcoal';
$category-charcoal-x: 0px;
$category-charcoal-y: 60px;
$category-charcoal-offset-x: 0px;
$category-charcoal-offset-y: -60px;
$category-charcoal-width: 72px;
$category-charcoal-height: 87px;
$category-charcoal-total-width: 305px;
$category-charcoal-total-height: 285px;
$category-charcoal-image: '../img/sprite.png';
$category-charcoal: (0px, 60px, 0px, -60px, 72px, 87px, 305px, 285px, '../img/sprite.png', 'category-charcoal', );
$category-hookah-name: 'category-hookah';
$category-hookah-x: 0px;
$category-hookah-y: 152px;
$category-hookah-offset-x: 0px;
$category-hookah-offset-y: -152px;
$category-hookah-width: 35px;
$category-hookah-height: 92px;
$category-hookah-total-width: 305px;
$category-hookah-total-height: 285px;
$category-hookah-image: '../img/sprite.png';
$category-hookah: (0px, 152px, 0px, -152px, 35px, 92px, 305px, 285px, '../img/sprite.png', 'category-hookah', );
$category-nonicotine-name: 'category-nonicotine';
$category-nonicotine-x: 129px;
$category-nonicotine-y: 74px;
$category-nonicotine-offset-x: -129px;
$category-nonicotine-offset-y: -74px;
$category-nonicotine-width: 58px;
$category-nonicotine-height: 58px;
$category-nonicotine-total-width: 305px;
$category-nonicotine-total-height: 285px;
$category-nonicotine-image: '../img/sprite.png';
$category-nonicotine: (129px, 74px, -129px, -74px, 58px, 58px, 305px, 285px, '../img/sprite.png', 'category-nonicotine', );
$category-otivana-name: 'category-otivana';
$category-otivana-x: 0px;
$category-otivana-y: 0px;
$category-otivana-offset-x: 0px;
$category-otivana-offset-y: 0px;
$category-otivana-width: 124px;
$category-otivana-height: 55px;
$category-otivana-total-width: 305px;
$category-otivana-total-height: 285px;
$category-otivana-image: '../img/sprite.png';
$category-otivana: (0px, 0px, 0px, 0px, 124px, 55px, 305px, 285px, '../img/sprite.png', 'category-otivana', );
$category-tobacco-name: 'category-tobacco';
$category-tobacco-x: 129px;
$category-tobacco-y: 0px;
$category-tobacco-offset-x: -129px;
$category-tobacco-offset-y: 0px;
$category-tobacco-width: 70px;
$category-tobacco-height: 69px;
$category-tobacco-total-width: 305px;
$category-tobacco-total-height: 285px;
$category-tobacco-image: '../img/sprite.png';
$category-tobacco: (129px, 0px, -129px, 0px, 70px, 69px, 305px, 285px, '../img/sprite.png', 'category-tobacco', );
$fast-heart-name: 'fast-heart';
$fast-heart-x: 122px;
$fast-heart-y: 249px;
$fast-heart-offset-x: -122px;
$fast-heart-offset-y: -249px;
$fast-heart-width: 16px;
$fast-heart-height: 14px;
$fast-heart-total-width: 305px;
$fast-heart-total-height: 285px;
$fast-heart-image: '../img/sprite.png';
$fast-heart: (122px, 249px, -122px, -249px, 16px, 14px, 305px, 285px, '../img/sprite.png', 'fast-heart', );
$fast-view-name: 'fast-view';
$fast-view-x: 237px;
$fast-view-y: 152px;
$fast-view-offset-x: -237px;
$fast-view-offset-y: -152px;
$fast-view-width: 19px;
$fast-view-height: 19px;
$fast-view-total-width: 305px;
$fast-view-total-height: 285px;
$fast-view-image: '../img/sprite.png';
$fast-view: (237px, 152px, -237px, -152px, 19px, 19px, 305px, 285px, '../img/sprite.png', 'fast-view', );
$form-radio-active-name: 'form-radio-active';
$form-radio-active-x: 159px;
$form-radio-active-y: 152px;
$form-radio-active-offset-x: -159px;
$form-radio-active-offset-y: -152px;
$form-radio-active-width: 21px;
$form-radio-active-height: 21px;
$form-radio-active-total-width: 305px;
$form-radio-active-total-height: 285px;
$form-radio-active-image: '../img/sprite.png';
$form-radio-active: (159px, 152px, -159px, -152px, 21px, 21px, 305px, 285px, '../img/sprite.png', 'form-radio-active', );
$form-radio-name: 'form-radio';
$form-radio-x: 261px;
$form-radio-y: 220px;
$form-radio-offset-x: -261px;
$form-radio-offset-y: -220px;
$form-radio-width: 21px;
$form-radio-height: 21px;
$form-radio-total-width: 305px;
$form-radio-total-height: 285px;
$form-radio-image: '../img/sprite.png';
$form-radio: (261px, 220px, -261px, -220px, 21px, 21px, 305px, 285px, '../img/sprite.png', 'form-radio', );
$login-close-name: 'login-close';
$login-close-x: 91px;
$login-close-y: 152px;
$login-close-offset-x: -91px;
$login-close-offset-y: -152px;
$login-close-width: 29px;
$login-close-height: 29px;
$login-close-total-width: 305px;
$login-close-total-height: 285px;
$login-close-image: '../img/sprite.png';
$login-close: (91px, 152px, -91px, -152px, 29px, 29px, 305px, 285px, '../img/sprite.png', 'login-close', );
$man-name: 'man';
$man-x: 293px;
$man-y: 101px;
$man-offset-x: -293px;
$man-offset-y: -101px;
$man-width: 11px;
$man-height: 12px;
$man-total-width: 305px;
$man-total-height: 285px;
$man-image: '../img/sprite.png';
$man: (293px, 101px, -293px, -101px, 11px, 12px, 305px, 285px, '../img/sprite.png', 'man', );
$menu-switcher-name: 'menu-switcher';
$menu-switcher-x: 261px;
$menu-switcher-y: 170px;
$menu-switcher-offset-x: -261px;
$menu-switcher-offset-y: -170px;
$menu-switcher-width: 23px;
$menu-switcher-height: 20px;
$menu-switcher-total-width: 305px;
$menu-switcher-total-height: 285px;
$menu-switcher-image: '../img/sprite.png';
$menu-switcher: (261px, 170px, -261px, -170px, 23px, 20px, 305px, 285px, '../img/sprite.png', 'menu-switcher', );
$pay-card-name: 'pay-card';
$pay-card-x: 40px;
$pay-card-y: 190px;
$pay-card-offset-x: -40px;
$pay-card-offset-y: -190px;
$pay-card-width: 39px;
$pay-card-height: 39px;
$pay-card-total-width: 305px;
$pay-card-total-height: 285px;
$pay-card-image: '../img/sprite.png';
$pay-card: (40px, 190px, -40px, -190px, 39px, 39px, 305px, 285px, '../img/sprite.png', 'pay-card', );
$pay-cash-name: 'pay-cash';
$pay-cash-x: 84px;
$pay-cash-y: 190px;
$pay-cash-offset-x: -84px;
$pay-cash-offset-y: -190px;
$pay-cash-width: 39px;
$pay-cash-height: 39px;
$pay-cash-total-width: 305px;
$pay-cash-total-height: 285px;
$pay-cash-image: '../img/sprite.png';
$pay-cash: (84px, 190px, -84px, -190px, 39px, 39px, 305px, 285px, '../img/sprite.png', 'pay-cash', );
$phone-call-black-name: 'phone-call-black';
$phone-call-black-x: 211px;
$phone-call-black-y: 152px;
$phone-call-black-offset-x: -211px;
$phone-call-black-offset-y: -152px;
$phone-call-black-width: 21px;
$phone-call-black-height: 20px;
$phone-call-black-total-width: 305px;
$phone-call-black-total-height: 285px;
$phone-call-black-image: '../img/sprite.png';
$phone-call-black: (211px, 152px, -211px, -152px, 21px, 20px, 305px, 285px, '../img/sprite.png', 'phone-call-black', );
$phone-call-name: 'phone-call';
$phone-call-x: 185px;
$phone-call-y: 152px;
$phone-call-offset-x: -185px;
$phone-call-offset-y: -152px;
$phone-call-width: 21px;
$phone-call-height: 20px;
$phone-call-total-width: 305px;
$phone-call-total-height: 285px;
$phone-call-image: '../img/sprite.png';
$phone-call: (185px, 152px, -185px, -152px, 21px, 20px, 305px, 285px, '../img/sprite.png', 'phone-call', );
$phone-name: 'phone';
$phone-x: 102px;
$phone-y: 249px;
$phone-offset-x: -102px;
$phone-offset-y: -249px;
$phone-width: 15px;
$phone-height: 22px;
$phone-total-width: 305px;
$phone-total-height: 285px;
$phone-image: '../img/sprite.png';
$phone: (102px, 249px, -102px, -249px, 15px, 22px, 305px, 285px, '../img/sprite.png', 'phone', );
$search-name: 'search';
$search-x: 261px;
$search-y: 143px;
$search-offset-x: -261px;
$search-offset-y: -143px;
$search-width: 21px;
$search-height: 22px;
$search-total-width: 305px;
$search-total-height: 285px;
$search-image: '../img/sprite.png';
$search: (261px, 143px, -261px, -143px, 21px, 22px, 305px, 285px, '../img/sprite.png', 'search', );
$slider-products-left-name: 'slider-products-left';
$slider-products-left-x: 293px;
$slider-products-left-y: 31px;
$slider-products-left-offset-x: -293px;
$slider-products-left-offset-y: -31px;
$slider-products-left-width: 12px;
$slider-products-left-height: 13px;
$slider-products-left-total-width: 305px;
$slider-products-left-total-height: 285px;
$slider-products-left-image: '../img/sprite.png';
$slider-products-left: (293px, 31px, -293px, -31px, 12px, 13px, 305px, 285px, '../img/sprite.png', 'slider-products-left', );
$slider-products-right-name: 'slider-products-right';
$slider-products-right-x: 293px;
$slider-products-right-y: 49px;
$slider-products-right-offset-x: -293px;
$slider-products-right-offset-y: -49px;
$slider-products-right-width: 12px;
$slider-products-right-height: 13px;
$slider-products-right-total-width: 305px;
$slider-products-right-total-height: 285px;
$slider-products-right-image: '../img/sprite.png';
$slider-products-right: (293px, 49px, -293px, -49px, 12px, 13px, 305px, 285px, '../img/sprite.png', 'slider-products-right', );
$slider-review-left-name: 'slider-review-left';
$slider-review-left-x: 261px;
$slider-review-left-y: 58px;
$slider-review-left-offset-x: -261px;
$slider-review-left-offset-y: -58px;
$slider-review-left-width: 27px;
$slider-review-left-height: 53px;
$slider-review-left-total-width: 305px;
$slider-review-left-total-height: 285px;
$slider-review-left-image: '../img/sprite.png';
$slider-review-left: (261px, 58px, -261px, -58px, 27px, 53px, 305px, 285px, '../img/sprite.png', 'slider-review-left', );
$slider-review-right-name: 'slider-review-right';
$slider-review-right-x: 261px;
$slider-review-right-y: 0px;
$slider-review-right-offset-x: -261px;
$slider-review-right-offset-y: 0px;
$slider-review-right-width: 27px;
$slider-review-right-height: 53px;
$slider-review-right-total-width: 305px;
$slider-review-right-total-height: 285px;
$slider-review-right-image: '../img/sprite.png';
$slider-review-right: (261px, 0px, -261px, 0px, 27px, 53px, 305px, 285px, '../img/sprite.png', 'slider-review-right', );
$social-color-fb-name: 'social-color-fb';
$social-color-fb-x: 0px;
$social-color-fb-y: 249px;
$social-color-fb-offset-x: 0px;
$social-color-fb-offset-y: -249px;
$social-color-fb-width: 35px;
$social-color-fb-height: 36px;
$social-color-fb-total-width: 305px;
$social-color-fb-total-height: 285px;
$social-color-fb-image: '../img/sprite.png';
$social-color-fb: (0px, 249px, 0px, -249px, 35px, 36px, 305px, 285px, '../img/sprite.png', 'social-color-fb', );
$social-color-gp-name: 'social-color-gp';
$social-color-gp-x: 40px;
$social-color-gp-y: 249px;
$social-color-gp-offset-x: -40px;
$social-color-gp-offset-y: -249px;
$social-color-gp-width: 35px;
$social-color-gp-height: 36px;
$social-color-gp-total-width: 305px;
$social-color-gp-total-height: 285px;
$social-color-gp-image: '../img/sprite.png';
$social-color-gp: (40px, 249px, -40px, -249px, 35px, 36px, 305px, 285px, '../img/sprite.png', 'social-color-gp', );
$social-color-ok-name: 'social-color-ok';
$social-color-ok-x: 128px;
$social-color-ok-y: 190px;
$social-color-ok-offset-x: -128px;
$social-color-ok-offset-y: -190px;
$social-color-ok-width: 36px;
$social-color-ok-height: 36px;
$social-color-ok-total-width: 305px;
$social-color-ok-total-height: 285px;
$social-color-ok-image: '../img/sprite.png';
$social-color-ok: (128px, 190px, -128px, -190px, 36px, 36px, 305px, 285px, '../img/sprite.png', 'social-color-ok', );
$social-color-tw-name: 'social-color-tw';
$social-color-tw-x: 169px;
$social-color-tw-y: 190px;
$social-color-tw-offset-x: -169px;
$social-color-tw-offset-y: -190px;
$social-color-tw-width: 36px;
$social-color-tw-height: 36px;
$social-color-tw-total-width: 305px;
$social-color-tw-total-height: 285px;
$social-color-tw-image: '../img/sprite.png';
$social-color-tw: (169px, 190px, -169px, -190px, 36px, 36px, 305px, 285px, '../img/sprite.png', 'social-color-tw', );
$social-color-vk-name: 'social-color-vk';
$social-color-vk-x: 210px;
$social-color-vk-y: 190px;
$social-color-vk-offset-x: -210px;
$social-color-vk-offset-y: -190px;
$social-color-vk-width: 36px;
$social-color-vk-height: 36px;
$social-color-vk-total-width: 305px;
$social-color-vk-total-height: 285px;
$social-color-vk-image: '../img/sprite.png';
$social-color-vk: (210px, 190px, -210px, -190px, 36px, 36px, 305px, 285px, '../img/sprite.png', 'social-color-vk', );
$social-fb-name: 'social-fb';
$social-fb-x: 293px;
$social-fb-y: 0px;
$social-fb-offset-x: -293px;
$social-fb-offset-y: 0px;
$social-fb-width: 12px;
$social-fb-height: 26px;
$social-fb-total-width: 305px;
$social-fb-total-height: 285px;
$social-fb-image: '../img/sprite.png';
$social-fb: (293px, 0px, -293px, 0px, 12px, 26px, 305px, 285px, '../img/sprite.png', 'social-fb', );
$social-ig-name: 'social-ig';
$social-ig-x: 261px;
$social-ig-y: 116px;
$social-ig-offset-x: -261px;
$social-ig-offset-y: -116px;
$social-ig-width: 22px;
$social-ig-height: 22px;
$social-ig-total-width: 305px;
$social-ig-total-height: 285px;
$social-ig-image: '../img/sprite.png';
$social-ig: (261px, 116px, -261px, -116px, 22px, 22px, 305px, 285px, '../img/sprite.png', 'social-ig', );
$social-vk-name: 'social-vk';
$social-vk-x: 80px;
$social-vk-y: 249px;
$social-vk-offset-x: -80px;
$social-vk-offset-y: -249px;
$social-vk-width: 17px;
$social-vk-height: 22px;
$social-vk-total-width: 305px;
$social-vk-total-height: 285px;
$social-vk-image: '../img/sprite.png';
$social-vk: (80px, 249px, -80px, -249px, 17px, 22px, 305px, 285px, '../img/sprite.png', 'social-vk', );
$star-active-name: 'star-active';
$star-active-x: 293px;
$star-active-y: 67px;
$star-active-offset-x: -293px;
$star-active-offset-y: -67px;
$star-active-width: 12px;
$star-active-height: 12px;
$star-active-total-width: 305px;
$star-active-total-height: 285px;
$star-active-image: '../img/sprite.png';
$star-active: (293px, 67px, -293px, -67px, 12px, 12px, 305px, 285px, '../img/sprite.png', 'star-active', );
$star-inactive-name: 'star-inactive';
$star-inactive-x: 293px;
$star-inactive-y: 84px;
$star-inactive-offset-x: -293px;
$star-inactive-offset-y: -84px;
$star-inactive-width: 12px;
$star-inactive-height: 12px;
$star-inactive-total-width: 305px;
$star-inactive-total-height: 285px;
$star-inactive-image: '../img/sprite.png';
$star-inactive: (293px, 84px, -293px, -84px, 12px, 12px, 305px, 285px, '../img/sprite.png', 'star-inactive', );
$spritesheet-width: 305px;
$spritesheet-height: 285px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($basket, $cart-car-active, $cart-car, $cart-gift-active, $cart-gift, $cart-item-close, $catalog-cards-active, $catalog-cards, $catalog-list-active, $catalog-list, $category-accessories, $category-charcoal, $category-hookah, $category-nonicotine, $category-otivana, $category-tobacco, $fast-heart, $fast-view, $form-radio-active, $form-radio, $login-close, $man, $menu-switcher, $pay-card, $pay-cash, $phone-call-black, $phone-call, $phone, $search, $slider-products-left, $slider-products-right, $slider-review-left, $slider-review-right, $social-color-fb, $social-color-gp, $social-color-ok, $social-color-tw, $social-color-vk, $social-fb, $social-ig, $social-vk, $star-active, $star-inactive, );
$spritesheet: (305px, 285px, '../img/sprite.png', $spritesheet-sprites, );


@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    &.icon-#{$sprite-name} {
      width: nth($sprite, 5);
      height: nth($sprite, 6);
      $sprite-offset-x: nth($sprite, 3);
      $sprite-offset-y: nth($sprite, 4);
      background-position: $sprite-offset-x  $sprite-offset-y;
    }
  }
}
