/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$basket-name: 'basket';
$basket-x: 0px;
$basket-y: 0px;
$basket-offset-x: 0px;
$basket-offset-y: 0px;
$basket-width: 23px;
$basket-height: 20px;
$basket-total-width: 64px;
$basket-total-height: 39px;
$basket-image: '../img/sprite.png';
$basket: (0px, 0px, 0px, 0px, 23px, 20px, 64px, 39px, '../img/sprite.png', 'basket', );
$fast-heart-name: 'fast-heart';
$fast-heart-x: 0px;
$fast-heart-y: 25px;
$fast-heart-offset-x: 0px;
$fast-heart-offset-y: -25px;
$fast-heart-width: 16px;
$fast-heart-height: 14px;
$fast-heart-total-width: 64px;
$fast-heart-total-height: 39px;
$fast-heart-image: '../img/sprite.png';
$fast-heart: (0px, 25px, 0px, -25px, 16px, 14px, 64px, 39px, '../img/sprite.png', 'fast-heart', );
$fast-view-name: 'fast-view';
$fast-view-x: 28px;
$fast-view-y: 0px;
$fast-view-offset-x: -28px;
$fast-view-offset-y: 0px;
$fast-view-width: 19px;
$fast-view-height: 19px;
$fast-view-total-width: 64px;
$fast-view-total-height: 39px;
$fast-view-image: '../img/sprite.png';
$fast-view: (28px, 0px, -28px, 0px, 19px, 19px, 64px, 39px, '../img/sprite.png', 'fast-view', );
$star-active-name: 'star-active';
$star-active-x: 21px;
$star-active-y: 25px;
$star-active-offset-x: -21px;
$star-active-offset-y: -25px;
$star-active-width: 12px;
$star-active-height: 12px;
$star-active-total-width: 64px;
$star-active-total-height: 39px;
$star-active-image: '../img/sprite.png';
$star-active: (21px, 25px, -21px, -25px, 12px, 12px, 64px, 39px, '../img/sprite.png', 'star-active', );
$star-inactive-name: 'star-inactive';
$star-inactive-x: 52px;
$star-inactive-y: 0px;
$star-inactive-offset-x: -52px;
$star-inactive-offset-y: 0px;
$star-inactive-width: 12px;
$star-inactive-height: 12px;
$star-inactive-total-width: 64px;
$star-inactive-total-height: 39px;
$star-inactive-image: '../img/sprite.png';
$star-inactive: (52px, 0px, -52px, 0px, 12px, 12px, 64px, 39px, '../img/sprite.png', 'star-inactive', );
$spritesheet-width: 64px;
$spritesheet-height: 39px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($basket, $fast-heart, $fast-view, $star-active, $star-inactive, );
$spritesheet: (64px, 39px, '../img/sprite.png', $spritesheet-sprites, );


@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    &.icon-#{$sprite-name} {
      width: nth($sprite, 5);
      height: nth($sprite, 6);
      $sprite-offset-x: nth($sprite, 3);
      $sprite-offset-y: nth($sprite, 4);
      background-position: $sprite-offset-x  $sprite-offset-y;
    }
  }
}
