/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
Paul Irish
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box; }

*, *:before, *.after {
  box-sizing: inherit; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/* global susy settings */
html, body {
  background: #fff; }

hr {
  height: 1px;
  border: 0;
  padding: 0;
  width: 100%;
  margin: 20px 0;
  background: #d4d5d6; }

img {
  max-width: 100%; }

html, body {
  font-family: "Ubuntu", serif;
  font-size: 14px;
  color: #000; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu Condensed", serif;
  font-weight: bold;
  color: #40506f; }

h1 {
  font-size: 45px;
  line-height: 1.2;
  margin-bottom: 24px; }

h2 {
  font-size: 28px;
  margin-bottom: 8px;
  font-weight: normal; }

h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 9px; }

h4 {
  font-size: 13px; }

strong, b {
  font-weight: bold; }

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 1em; }
  p.p-align-center {
    text-align: center; }
  p.p-align-right {
    text-align: right; }

.b-list {
  line-height: 2;
  margin-bottom: 24px; }
  .b-list .list-item {
    margin-bottom: 3px; }
    .b-list .list-item:last-of-type {
      margin-bottom: 0; }
  .b-list.list-with-dash .list-item:before {
    content: '\2014';
    margin-right: 6px; }
  .b-list.list-size-large {
    font-size: 16px; }

a {
  color: #2f343b; }
  a:hover {
    color: #464d57; }
  a.link-as-text {
    color: inherit;
    text-decoration: inherit; }
    a.link-as-text:hover {
      color: inherit; }

.b-icon.icon-img, .b-card .card-overlay-link:before, .b-stars .star-item {
  display: inline-block;
  background-image: url('../img/sprite.png'); }
  .b-icon.icon-img.icon-basket, .b-card .icon-basket.card-overlay-link:before, .b-stars .icon-basket.star-item {
    width: 23px;
    height: 20px;
    background-position: 0px 0px; }
  .b-icon.icon-img.icon-fast-heart, .b-card .icon-fast-heart.card-overlay-link:before, .b-card .card-overlay-link.link-basket:before, .b-stars .icon-fast-heart.star-item {
    width: 16px;
    height: 14px;
    background-position: 0px -25px; }
  .b-icon.icon-img.icon-fast-view, .b-card .icon-fast-view.card-overlay-link:before, .b-card .card-overlay-link.link-view:before, .b-stars .icon-fast-view.star-item {
    width: 19px;
    height: 19px;
    background-position: -28px 0px; }
  .b-icon.icon-img.icon-star-active, .b-card .icon-star-active.card-overlay-link:before, .b-stars .star-item {
    width: 12px;
    height: 12px;
    background-position: -21px -25px; }
  .b-icon.icon-img.icon-star-inactive, .b-card .icon-star-inactive.card-overlay-link:before, .b-stars .icon-star-inactive.star-item, .b-stars .star-item.item-inactive {
    width: 12px;
    height: 12px;
    background-position: -52px 0px; }

.b-wrapper {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 9px;
  padding-left: 9px; }
  .b-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.b-section::after {
  clear: both;
  content: "";
  display: table; }
.b-section .section-heading {
  font-family: "Ubuntu Condensed", serif;
  font-size: 24px;
  color: #2f343b;
  text-align: center;
  background: #ebebeb;
  padding: 3px 0 7px;
  line-height: 1.3;
  margin-bottom: 30px;
  text-transform: uppercase; }

.b-card {
  position: relative;
  border: 1px solid #c7c7c7;
  z-index: 1;
  padding: 0 0 10px 0;
  text-align: center; }
  .b-card .card-motivator {
    position: absolute;
    right: 9px;
    top: 0;
    font-size: 14px;
    color: #fff;
    background: #4ec67f;
    display: block;
    padding: 9px 15px;
    z-index: 2; }
  .b-card .card-view {
    position: relative;
    z-index: 1;
    padding: 23px 0 10px; }
  .b-card .card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 72px;
    text-align: center; }
    .b-card .card-overlay-content {
      display: inline-block; }
    .b-card .card-overlay-link {
      position: relative;
      padding-left: 26px;
      text-align: left;
      display: block;
      margin-bottom: 22px; }
      .b-card .card-overlay-link:before {
        content: '';
        position: absolute;
        text-decoration: none;
        top: 0;
        left: 0; }
      .b-card .card-overlay-link.link-view:before {
        top: -1px; }
      .b-card .card-overlay-link.link-basket:before {
        top: 1px;
        left: 2px; }
  .b-card .card-image {
    display: inline-block;
    height: 141px; }
  .b-card .card-heading {
    margin: 12px 0 3px;
    font-family: "Ubuntu", serif;
    font-size: 14px;
    color: #2f343b; }
  .b-card .card-price {
    margin: 0 0 16px 0;
    font-size: 18px;
    color: #000; }
  .b-card .card-button {
    display: block;
    margin: 0 28px 6px; }
  .b-card:hover .card-overlay {
    display: block; }

.b-stars {
  display: inline-block;
  height: 14px; }
  .b-stars .star-item {
    display: inline-block; }

.b-button {
  display: inline-block;
  padding: 0;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #ffbb03; }
  .b-button:hover {
    color: #fff;
    background: #ffc936; }
  .b-button .button-icon {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px; }

.b-products .products-list {
  margin-right: -9px;
  margin-left: -9px; }
  .b-products .products-list::after {
    clear: both;
    content: "";
    display: table; }
.b-products .product-item {
  width: 100%;
  float: left;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 49px; }
  @media (min-width: 1070px) {
    .b-products .product-item {
      width: 20%;
      float: left;
      padding-left: 9px;
      padding-right: 9px; }
      .b-products .product-item:nth-child(5n+1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both; }
      .b-products .product-item:nth-child(5n+2) {
        margin-left: 20%;
        margin-right: -100%;
        clear: none; }
      .b-products .product-item:nth-child(5n+3) {
        margin-left: 40%;
        margin-right: -100%;
        clear: none; }
      .b-products .product-item:nth-child(5n+4) {
        margin-left: 60%;
        margin-right: -100%;
        clear: none; }
      .b-products .product-item:nth-child(5n+5) {
        margin-left: 80%;
        margin-right: -100%;
        clear: none; } }
  @media (max-width: 1069px) and (min-width: 890px) {
    .b-products .product-item {
      width: 25%;
      float: left;
      padding-left: 9px;
      padding-right: 9px; }
      .b-products .product-item:nth-child(4n+1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both; }
      .b-products .product-item:nth-child(4n+2) {
        margin-left: 25%;
        margin-right: -100%;
        clear: none; }
      .b-products .product-item:nth-child(4n+3) {
        margin-left: 50%;
        margin-right: -100%;
        clear: none; }
      .b-products .product-item:nth-child(4n+4) {
        margin-left: 75%;
        margin-right: -100%;
        clear: none; } }
  @media (max-width: 889px) and (min-width: 660px) {
    .b-products .product-item {
      width: 33.33333%;
      float: left;
      padding-left: 9px;
      padding-right: 9px; }
      .b-products .product-item:nth-child(3n+1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both; }
      .b-products .product-item:nth-child(3n+2) {
        margin-left: 33.33333%;
        margin-right: -100%;
        clear: none; }
      .b-products .product-item:nth-child(3n+3) {
        margin-left: 66.66667%;
        margin-right: -100%;
        clear: none; } }
  @media (max-width: 659px) and (min-width: 480px) {
    .b-products .product-item {
      width: 50%;
      float: left;
      padding-left: 9px;
      padding-right: 9px; }
      .b-products .product-item:nth-child(2n+1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both; }
      .b-products .product-item:nth-child(2n+2) {
        margin-left: 50%;
        margin-right: -100%;
        clear: none; } }

.b-about .about-content {
  text-align: center; }
