.b-card {
  position: relative;
  border: 1px solid #c7c7c7;
  z-index: 1;
  padding: 0 0 10px 0;
  text-align: center;
  @include clearfix;

  $minCardHeight: 108px;
  @mixin cardVertical {
    .card-vertical {
      display: table;
      width: 100%;
      height: $minCardHeight;

      &-cell {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  @include cardVertical;

  .card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .card-link-upper {
    position: relative;
    z-index: 20;
  }

  .card-motivator {
    position: absolute;
    right: 9px;
    top: 0;
    font-size: 14px;
    color: #fff;
    background: #4ec67f;
    display: block;
    padding: 9px 15px;
    z-index: 1000;
  }

  .card-view {
    position: relative;
    padding: 23px 0 10px;
  }

  .card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#fff, 0.9);
    padding-top: 72px;
    text-align: center;

    &-content {
      display: inline-block;
    }

    &-link {
      position: relative;
      padding-left: 26px;
      text-align: left;
      display: block;
      margin-bottom: 22px;

      &:before {
        @extend .b-icon;
        content: '';
        position: absolute;
        text-decoration: none;
        top: 0;
        left: 0;
      }

      &.link-view {
        &:before {
          top: -1px;
          @extend .b-icon.icon-fast-view !optional;
        }
      }

      &.link-basket {
        &:before {
          top: 1px;
          left: 2px;
          @extend .b-icon.icon-fast-heart !optional;
        }
      }
    }
  }

  .card-image {
    display: inline-block;
    height: 141px;
  }

  .card-stars {

  }

  .card-heading {
    margin: 12px 0 3px;

    font-family: $ubuntu;
    font-size: 14px;
    color: #2f343b;
  }

  .card-price {
    margin: 0 0 16px 0;
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }

  .card-button {
    display: block;
    margin: 0 28px 6px;

    &.button-buy {

    }

    &.button-one-click {

    }
  }

  &:hover {
    .card-overlay {
      display: block;
    }
  }

  &.card-horizontal {
    padding-bottom: 0;

    .card-name {
      padding: 10px 0;
      &-holder {
        text-align: left;
      }
    }

    .card-heading {
      margin-top: 0;
    }

    .card-stars {
      margin-top: 13px;
    }

    .card-buttons {
      margin-top: 18px;
    }

    .card-button {
      @include margin(null 0);

      &:last-child {
        margin-bottom: 0;
      }
    }

    .card-price {
      margin: 0;
    }

    .card-image {
      display: block;
      height: auto;
      margin-top: 8px;

      &-src {
        max-height: 90px;
      }
    }

    .card-overlay {
      padding-top: 31px;
      &-holder {
        position: relative;
        @include clearfix;
      }
    }

    @include with-layout(3) {
      .card-image {
        &-holder {
          @include span(1);
        }
      }

      .card-name {
        &-holder {
          @include span(2);
        }
      }
    }

    @media (min-width: 601px) {
      @include with-layout(static) {
        .card-info {
          &-holder {
            @include span(full fluid nest);
            padding-right: span(170px wide);
          }
        }

        .card-buttons {
          &-holder {
            @include span(170px);
            margin-left: -1*span(170px wide);
          }
        }
      }

      @include with-layout(12) {
        .card-overlay {
          &-holder {
            @include span(9 nest);
          }
        }

        .card-price {
          &-holder {
            @include span(3);
          }
        }
      }
    }

    @media (max-width: 600px) {
      padding: 9px;
      .card-price-holder {
        .card-vertical {
          height: auto;
        }
      }
    }
  }

  &.card-cart {

    padding-right: 75px;

    .card-image {
      display: block;
      height: auto;
      margin-top: 8px;

      &-src {
        max-height: 90px;
      }
    }

    .card-close {
      position: absolute;
      right: 30px;
      top: 38px;
      z-index: 10;
      cursor: pointer;
    }

    .card-name {
      text-align: left;
    }

    .card-stars {
      margin-top: 13px;
    }

    .card-summary {
      &-counter {
        float: left;
      }

      &-price {
        float: right;
        font-size: 19px;
        line-height: 34px;
        margin-bottom: 0;
      }

      @media (max-width: 900px) {
        &-price,
        &-counter {
          float: none;
          display: block;
          width: 100%;
        }
      }
    }

    @include with-layout (10) {
      .card-info {
        &-holder {
          @include span(7 nest);
        }
      }

      .card-summary {
        &-holder {
          @include span(3);
        }
      }
    }

    @include with-layout(8) {
      .card-image {
        &-holder {
          @include span(150px);
          margin-right: -1*span(150px);
        }
      }

      .card-name {
        &-holder {
          @include span(6);
          padding-left: span(150px wide);
        }
      }

      .card-item-price {
        &-holder {
          @include span(2);
        }
      }
    }

    @media (max-width: 700px) {
      .card-vertical {
        height: auto;
      }

      .card-info {
        &-holder {
          @include span(full nest);
        }
      }

      .card-summary {
        text-align: left;

        &-holder {
          @include span(full);
          padding-left: span(150px wide);
          margin-top: 13px;
        }
      }

      .card-name {
        &-holder {
          width: 100%;
        }
      }

      .card-item-price {
        text-align: left;

        &-holder {
          @include span(full);
          padding-left: span(150px wide);
          margin-top: 13px;
        }
      }

      .card-image {
        &-holder {
          height: 80px;
        }

        &-src {
          height: 100%;
          max-height: none;
        }
      }
    }

    @media (max-width: 500px) {
      padding-right: 0;
      .card-image {
        &-holder {
          @include span(full);
          height: auto;
        }
      }

      .card-name,
      .card-item-price,
      .card-summary {
        text-align: center;

        &-holder {
          padding-left: gutter();
        }
      }
    }
  }

  &.card-small {
    padding-bottom: 0;
    $minCardHeight: 153px;
    @include cardVertical;

    @include with-layout (7 no-gutters) {
      .card-image {
        height: auto;
        max-height: $minCardHeight;

        &-holder {
          @include span(3);
        }
      }

      .card-content {
        text-align: left;

        &-holder {
          @include span(4);
        }
      }

      .card-overlay {
        padding-top: 53px;
      }
    }
  }
}