.b-category {
  &.category-preview {
    padding-top: 19px;
    background: #2f343b;
    margin-bottom: 44px;

    &-prefooter {
      margin-bottom: 0;
    }

    .category-heading {
      background: none;
      color: #ffffff;
      margin-bottom: 26px;
    }

    .category-content {
      @include margin(null -1*gutter() 33px);
    }

    .category-item {
      text-align: center;
      @include span(full);
      margin-bottom: 2*gutter();

      &-content {
        display: block;
        background: #ffbb03;
        min-height: 142px;
        text-decoration: none;
      }

      &-image {
        display: block;

        .icon-category-hookah {
          margin: 13px 0 3px;
        }

        .icon-category-tobacco {
          margin: 27px 0 12px;
        }

        .icon-category-accessories {
          margin: 15px 0 7px;
        }

        .icon-category-charcoal {
          margin: 13px 0 8px;
        }

        .icon-category-nonicotine {
          margin: 26px 0 14px;
        }

        .icon-category-otivana {
          margin-top: 39px;
        }
      }

      &-heading {
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
      }

      @media (min-width: 1070px) {
        @include gallery(1 of 6);
      }

      @media (max-width: 1069px) and (min-width: 800px) {
        @include gallery(1 of 3);
      }

      @media (max-width: 799px) and (min-width: 480px) {
        @include gallery(1 of 2);
      }
    }
  }

  &.category-otivana {
    .category-content {
      @include margin(null -1*gutter());
    }

    .category-item {
      @include span(1 of 3);
      margin-bottom: 30px;

      &.item-hookah {
        .category-item {
          &-image {
            padding-top: 13px;
          }

          &-heading {
            padding-top: 16px;
          }
        }
      }

      &.item-accessories {
        .category-item {
          &-image {
            padding-top: 18px;
          }

          &-heading {
            padding-top: 16px;
          }
        }
      }

      &.item-home {
        .category-item {
          &-content {
            background: #8e8d88;
          }

          &-image {
            padding-top: 21px;
          }

          &-heading {
            padding-top: 23px;
          }
        }
      }

      &-content {
        display: block;
        position: relative;
        z-index: 1;
        min-height: 119px;
        background: #009ecb;
        text-align: center;
        text-decoration: none;
      }

      &-image {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;

        .b-icon {
          vertical-align: middle;
        }
      }

      &-heading {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
      }

      @media (max-width: 880px) {
        @include span(full);
        margin-bottom: gutter();
      }

      @media (max-width: 400px) {
        &-image {
          display: none;
        }

        &.item-hookah,
        &.item-accessories {
          .category-item {
            &-heading {
              padding-top: 44px;
            }
          }
        }
      }
    }
  }
}