.b-form {

  .form-input {
    height: 35px;
    line-height: 35px;
    font-weight: 100;
    border: 1px solid #bfbfbf;
    padding-left: 14px;
    border-radius: 0;
    box-shadow: none
  }

  .form-radio {
    display: none;

    &-label {
      cursor: pointer;

      &:before {
        content: '';
        width: 21px;
        height: 21px;
        @extend .b-icon;
        @extend .b-icon.icon-form-radio;

        position: relative;
        top: 5px;
        margin-right: 10px;
      }
    }

    &:checked + .form-radio-label {
      &:before {
        @extend .b-icon.icon-form-radio-active;
      }
    }

    &:disabled + .form-radio-label {
      &:before {
        opacity: 0.3;
      }
    }
  }

  &.form-header-search {
    .form-input {
      width: 100%;

      &-holder {
        float: left;
        width: 100%;
        margin-right: -50px;
        padding-right: 50px;
      }
    }

    .form-button {
      float: right;
      width: 35px;
      height: 35px;

      .button-icon {
        margin-right: 0;
      }
    }
  }

  &.form-login {
    .form-input {
      height: 45px;
      width: 100%;
      border-color: #6a6a6a;
      background: #23272c;
      color: #fff;

      @include placeholder {
        color: #58585a;
      }
    }

    .form-button {
      height: 46px;
      @include padding(null 35px);
    }

    .form-row {
      display: block;
      @include margin(null -1*gutter() 15px);
      @include clearfix;
    }

    .form-label {
      width: 100%;

      &-info {
        display: inline-block;
        margin-top: 10px;
        color: #58585a;
      }
    }

    .form-cell {
      @include span(full);

      &-half {
        @include span(1 of 2);
      }
    }

    .form-social {
      text-align: right;

      &-label {
        display: block;
      }
    }

    @media (max-width: 800px) {
      .form-button {
        width: 100%;
      }

      .form-social {
        text-align: center;
      }

      .form-row {
        margin-bottom: 0;
      }

      .form-cell {
        margin-bottom: 15px;

        &-half {
          @include span(full);
          margin-bottom: 15px;
        }
      }
    }
  }

  &.form-cart {

    .form-row {
      display: block;
      margin-bottom: 28px;
      @include clearfix;
    }

    .form-heading {
      @include span(full);
      text-transform: uppercase;
      font-weight: bold;
    }

    .form-label {
      display: block;

      &-text {
        display: block;
        margin-bottom: 13px;
        cursor: pointer;
      }
    }

    .form-cell {
      @include span(full);

      &-half {
        @include span(1 of 2);
      }

      &-third {
        @include span(1 of 3);
      }
    }

    .form-input {
      height: 39px;
      width: 100%;

      @include placeholder {
        color: #bdbdbd;
      }
    }
  }
}