.b-menu {
  &.menu-header {
    font-family: $ubuntu;
    font-size: 12px;

    .menu-list {
      display: table;
      width: 100%;
      max-width: 700px;
      height: 36px;
      float: right;
    }

    .menu-item {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    .menu-link {
      color: #fff;
      text-decoration: none;
    }
  }

  &.menu-category {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 7px 0;
    margin-bottom: 35px;

    .menu-list {
      display: table;
      width: 100%;

      &:after {
        content: none;
      }
    }

    .menu-item {
      display: table-cell;
      font-family: $ubuntuCondensed;
      font-size: 18px;
      color: #2f343b;
      text-transform: uppercase;
      text-align: center;
      min-width: 100px;
      padding: 5px 0 4px;

      + .menu-item {
        border-left: 1px solid #ebebeb;
      }
    }

    .menu-link {
      text-decoration: none;
    }

    @media (max-width: 760px) {
      display: none;
    }
  }

  &.menu-offcanvas {
    padding: 25px;

    .menu-list {
      margin-bottom: 20px;
    }

    .menu-item {
      display: block;
      margin-bottom: 15px;

      &.item-heading {
        margin-bottom: 24px;

        .menu-link {
          font-size: 19px;
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    .menu-link {
      font-size: 15px;
      color: #bebebe;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &.menu-footer {
    background: #ebebeb;
    font-size: 14px;
    line-height: 18px;

    .menu-wrapper {
      @include padding(20px 0);
    }

    .menu-heading {
      font-family: $ubuntu;
      text-transform: uppercase;
      margin-bottom: 1px;
    }

    .menu-list {
      margin-bottom: 21px;
    }

    .menu-link {
      font-weight: 100;

      &.link-subitem {
        text-decoration: none;
        &:before {
          content: '| ';
        }
      }
    }

    .menu-col {
      @include span(1 of 4);
      margin-bottom: -21px;

      @media (max-width: 860px) {
        @include span(1 of 2);
      }

      @media (max-width: 480px) {
        @include span(full);
        margin-bottom: 0;

        &:last-child {
          margin-bottom: -21px;
        }
      }
    }
  }
}