.b-products {

  .products-list {
    @include clearfix;
    @include margin(null -1*gutter());
  }

  .product-item {
    @include span(full);
    margin-bottom: 49px;
  }

  .product-button {
    display: block;
    margin: 0 auto;
    overflow: hidden;

    &-wrapper {
      @include clearfix;
      text-align: center;
    }
  }

  &.products-main {
    .product-item {
      @media (min-width: 1070px) {
        @include gallery(1);
      }

      @media (max-width: 1069px) and (min-width: 890px) {
        @include with-layout(4) {
          @include gallery(1);
        }
      }

      @media (max-width: 889px) and (min-width: 660px) {
        @include with-layout(3) {
          @include gallery(1);
        }
      }

      @media (max-width: 659px) and (min-width: 480px) {
        @include with-layout(2) {
          @include gallery(1);
        }
      }
    }
  }

  &.products-category {

    @media (min-width: 745px) {
      .products-menu {
        @include span(1 of 5 at 1 isolate static);
      }

      .products-content {
        @include span(full isolate nest);
        padding-left: span(1 of 5 static wide);
      }
    }

    @media (max-width: 745px) {
      .products-menu {
        @include span(full);
      }

      .products-content {
        @include span(full nest);
      }
    }

    .products-head {
      @include clearfix;
      font-size: 24px;
      line-height: 1;

      &-controls {
        float: right;
      }

      &-name {
        float: left;
        margin-bottom: 0;
        font-size: 24px;
        color: #2f343b;

        .name-quantity {
          margin-left: 10px;
          color: #ffbb03;
        }
      }

      &-view ,
      &-sort {
        float: right;
        font-family: $ubuntu;
        font-size: 14px;
        line-height: 24px;
        vertical-align: middle;
        font-weight: 100;
        text-transform: none;
      }

      &-sort {
        .sort-item {
          display: inline-block;
          padding: 1px 5px;
          margin: -1px 0;
          margin-left: 20px;
          text-decoration: none;

          &:after {
            margin-left: 3px;
          }

          &-name {
            text-decoration: underline;
          }

          &.item-selected {
            background: #ffbb03;
            color: #fff!important;
          }

          &.item-asc {
            &:after {
              content: '\2191';
            }
          }

          &.item-desc {
            &:after {
              content: '\2193';
            }
          }
        }
      }

      &-view {
        margin-left: 50px;

        .view-item {
          margin-left: 16px;

          &:before {
            @extend .b-icon;
            content: '';
            position: relative;
            top: 2px;
          }

          &.item-cards {
            &:before {
              @extend .b-icon.icon-catalog-cards;
            }

            &.item-active {
              &:before {
                @extend .b-icon.icon-catalog-cards-active;
              }
            }
          }

          &.item-list {
            &:before {
              @extend .b-icon.icon-catalog-list;
            }

            &.item-active {
              &:before {
                @extend .b-icon.icon-catalog-list-active;
              }
            }
          }
        }
      }

      @media (max-width: 700px) {
        &-controls {
          float: left;
          width: 100%;
        }

        &-view,
        &-sort {
          margin-top: 10px;
          float: left;
        }

        &-view {
          margin-left: 0;
          margin-right: 20px;
        }

        &-sort {
          .sort-item {
            margin-left: 0;
            margin-right: 20px;
          }
        }
      }
    }

    &.products-horizontal {
      .product-item {
        @include span(full);
        margin-bottom: 13px;
      }
    }

    &.products-cards {
      .product-item {
        @media (min-width: 1070px) {
          @include gallery(1 of 4);
        }

        @media (max-width: 1069px) and (min-width: 925px) {
          @include gallery(1 of 3);
        }

        @media (max-width: 924px) and (min-width: 480px) {
          @include gallery(1 of 2);
        }
      }
    }

  }
}