.b-slider {
  &.slider-reviews {
    background: #ffbb03;

    .slider-list {
      @include padding(10px null);
    }

    .slider-item {
      display: table;
      width: 100%;
      margin: 0 75px;
    }

    .slider-photo,
    .slider-content {
      display: table-cell;
      vertical-align: middle;
    }

    .slider-photo {
      vertical-align: top;
      width: 155px;
      height: 155px;

      .slider-photo-src {
        overflow: hidden;
        border-radius: 50%;
      }
    }

    .slider-content {
      color: #fff;
      text-align: center;
      padding: 15px 0 15px 50px;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .slider-nav {
      @extend .b-icon;
      position: absolute;
      top: 50%;
      margin-top: -27px;
      cursor: pointer;
      z-index: 2;

      &.nav-left {
        left: 0;
        @extend .b-icon.icon-slider-review-left;
      }

      &.nav-right {
        right: 0;
        @extend .b-icon.icon-slider-review-right;
      }
    }

    @media (max-width: 730px) {
      .slider-list {
        padding-bottom: 100px;
      }

      .slider-item {
        @include margin(null 0);
      }

      .slider-nav {
        top: auto;
        bottom: 30px;
        margin-top: 0;

        &.nav-left {
          left: 50%;
          margin-left: -50px;
        }

        &.nav-right {
          right: 50%;
          margin-right: -50px;
        }
      }
    }

    @media (max-width: 500px) {
      .slider-list {
        display: block;
      }

      .slider-photo {
        display: block;
        width: 100%;
        text-align: center;

        &-src {
          display: inline-block;
        }
      }

      .slider-content {
        display: block;
        @include padding(null 0);
      }
    }
  }

  &.slider-products {
    overflow: hidden;
    margin-bottom: 32px;

    .slick-dots {
      margin: 24px 0 -5px;
      text-align: center;

      .slider-dot {
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #cfcec7;
        margin: 5px;
      }

      li {
        display: inline-block;

        &.slick-active {
          .slider-dot {
            background: #2f343b;
          }
        }
      }
    }

    .slider-list {
      @include container();

      // then not init
      height: 384px;
      opacity: 0;

      &.slick-initialized {
        height: auto;
        opacity: 1;
      }
    }

    .slider-item {
      margin: 0 9px;
    }

    .slider-nav {
      width: 47px;
      height: 47px;
      background: #cfcec7;
      position: absolute;
      top: 136px;
      z-index: 2;
      cursor: pointer;

      &:before {
        position: absolute;
        @extend .b-icon;
        content: '';
        left: 50%;
        top: 50%;
        margin: -7px 0 0 -5px;
      }

      &.nav-left {
        left: -14px;
        &:before {
          @extend .b-icon.icon-slider-products-left;
        }
      }

      &.nav-right {
        right: -14px;
        &:before {
          @extend .b-icon.icon-slider-products-right;
        }
      }
    }
  }
}