.b-summary {
  width: 200px;

  .summary-item {
    position: relative;
    z-index: 1;
    @include clearfix;
  }

  .summary-name {
    display: inline-block;
  }

  .summary-content {
    float: right;

    &:before {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 1px;
      @include dashedBackground;
      z-index: -1;
    }
  }

  .summary-name,
  .summary-content {
    background: #fff;
    padding-bottom: 2px;
  }
}