.b-summary {
  display: table;
  width: 100%;

  .summary-item {
    display: table-row;
    height: 40px;
  }

  .summary-name-holder,
  .summary-content {
    display: table-cell;
    vertical-align: bottom;
    background: #fff;
  }

  .summary-name-holder {
    width: 100%;
  }

  .summary-content {
    white-space: nowrap;
  }

  .summary-name {
    position: relative;
    display: inline;
    background: #fff;
    z-index: 2;

    &-wrapper {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 5px;
        height: 1px;
        @include dashedBackground;
        z-index: 1;
      }
    }
  }

  .summary-content {
    width: 0;
  }
}