.b-table {
  &.table-responsive {
    width: 100%;
    display: table;
    text-align: left;

    .table-head {
      display: table-row;
      background: #ebebeb;
      font-weight: bold;
    }

    .table-row {
      display: table-row;
    }

    .table-cell {
      display: table-cell;
      vertical-align: middle;
      padding: 24px;
    }

    @media (max-width: 700px) {
      display: block;

      .table-head {
        display: none;
      }

      .table-row {
        display: block;

        &:nth-child(2n + 1) {
          background: #ebebeb;
        }
      }

      .table-cell {
        position: relative;
        display: block;
        padding: 10px 10px 10px 200px;

        &:before {
          display: inline-block;
          vertical-align: top;
          content: attr(data-cell-caption);
          font-weight: bold;

          width: 200px;
          margin-left: -200px;
          margin-right: 9px;
          padding-left: 9px;
        }
      }
    }

    @media (max-width: 460px) {
      .table-cell {
        padding-left: 9px;
        &:before {
          display: block;
          width: 100%;
          margin: 0 0 5px 0;
          padding-left: 0;
        }
      }
    }
  }
}